{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "no-return-await": "warn",
    "no-redeclare": "error",
    "no-useless-return": "warn",
    "require-await": "error",
    "valid-jsdoc": "warn",
    "require-jsdoc": "warn",
    "semi-style": "error",
    "no-await-in-loop": "off",
    "no-console": 1,
    "no-loops/no-loops": 2,
    "import/no-named-as-default-member": "off",
    "no-nested-ternary": "warn",
    "multiline-ternary": "off",
    "vars-on-top": "off",
    "camelcase": "off",
    "spaced-comment": "error",
    "space-before-function-paren": "error",
    "func-style": "off",
    "curly": "off",
    "sort-imports": "off",
    "semi-spacing": "error",
    "no-use-before-define": "warn",
    "prefer-promise-reject-errors": "error",
    "comma-dangle": "off",
    "prefer-destructuring": "off",
    "no-tabs": "error",
    "no-unexpected-multiline": "off",
    "object-curly-newline": "off",
    "import/no-named-as-default": "off",
    "no-underscore-dangle": "off"
  }
}
